* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body{
height: 100%;
width: 100%;
}
body{
    overflow-x: hidden;
}
.page1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page2{
    height: 100%;
    width: 100%;
    background-color: rgb(71, 228, 246);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page3{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 255, 21);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
/* h1{
    font-size: 60px;
    background-color: red;
    padding: 10px;
    margin: 20px;
} */
h2{
    font-size: 60px;
    background-color: orange;
}
.page4{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    background-color: rgb(53, 20, 220);
}
.page5{
    height: 100%;
    width: 100%;
    background-color: #191717;
}
.page6{
    height: 100%;
    width: 100%;
    background-color: #000000;
}
.page7{
    height: 100%;
    width: 100%;
    background-color: #191717;
}
h1{
    font-size: 30vw;
    color: aliceblue;
    font-weight: 800;
    padding: 2rem;
}
